body{
  background:   #E1D7D4;
}

.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* flex-direction: column; */
    margin: 0 auto;
    width:80%;
    height: 60%;
    padding: 30px;
   background: white;
}

form{
    /* display: hidden; */
    display: flex;
        
    justify-content: center;
    
}
.table{
    
    
    height: 100px;
    width: 100px;
    justify-content: space-between;
    
    border-radius: 50px 50px 50px 50px;
    background-color: grey;

}