@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

/* body {
  
  position: relative;
  height: 200vh;
  background-color: white;
  font-family: "Open Sans", sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: #444;
} */


*{
  font-family: "Open Sans";
 }

 

 @media only screen and (min-width: 768px){
.container{
  
  height: 170px
}

.container a{
  text-decoration-line: none;
  color: #69696a;
  padding: 20px;
  
}

.logo{
  float: left
}
.topnav{
  background-color: #f9fafc;
  float: right;
}

.clear{
  clear: both;
}

.info{
  float: left;
  width: 45%;
  border-left-style: solid;
  border-left-color: #69696a;
}

.graphic{
  left: 23%;
  float: right;
  position: relative;
  width: 45%;
}

.content{
  height: 350px;
}

.scroll{
  position: relative;
  top: 50%;
  transform: translateX(500%);

}

.circle1{
 
  position: absolute;
  height: 150px;
  width: 150px;
  background:rgba(247, 193, 162, 0.7); 
  top: 110px;
  left: 230px;
  border-radius: 80%;
  
  
}
.circle2{
 
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  top: 30px;
  left: 240px;
  background: rgba(207, 130, 213, 0.6);
}

.circle3{
  
  position: absolute;
  height: 280px;
  width: 280px;
  border-radius: 80%;
  background: rgba(247, 136, 167, 0.6);  
 

}


button{
  border-radius: 12px;
  font-size: 16px;
  background-color: #000;
  color: #f9fafc
  
  
}
}